<nav>
  <div>
    <a href="/board">전체 게시판</a>
    <span>|</span>
    <a href="/notice">공지사항</a>
    <span>|</span>
    <a href="/free">자유 게시판</a>
    <span>|</span>
    <a href="/event">이벤트</a>
  </div>
  <div class="auth-control-panel">
    <button type="button" onclick="location.href='/login'" class="login-btn">로그인</button>
    <button  type="button" onclick="location.href='/signup'" class="sign-up-btn">회원가입</button>
  </div>
</nav>
